/*RESET*/
/* line 3, ../scss/menu.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../scss/menu.scss */
ul {
  list-style: none;
}

/* line 12, ../scss/menu.scss */
a {
  text-decoration: none;
}

/*NAVIGATION*/
/* line 18, ../scss/menu.scss */
nav#navigation {
  width: 960px;
  margin: auto;
  position: relative;
  background: #333;
  margin-top: 10px;
}
/* line 25, ../scss/menu.scss */
nav#navigation ul {
  border-bottom: 5px solid #000;
}
/* line 28, ../scss/menu.scss */
nav#navigation ul li {
  display: inline-block;
}
/* line 31, ../scss/menu.scss */
nav#navigation ul li a {
  display: block;
  padding: 15px;
  padding-top: 20px;
  color: #FFF;
  font: bold 12px Arial;
}

/*LINE*/
/* line 44, ../scss/menu.scss */
span.line {
  display: block;
  position: absolute;
  width: 66px;
  height: 5px;
  background: #06c;
  bottom: 0;
}
